@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* header section*/
.logo img{
  width: 10% !important;
}

.listItems {
    font-size: 2ch;
    font-weight: bolder;
    text-transform: capitalize;
    }


/* celebrate section */
.celebrate{
  text-align: center;
}


/* Our Services section */




/* Questions section */



/* Gallery section */
.gallery .card img{
  border-radius: 5% !important;

}
.gallery .card {
  border: none;
}
.gallery h1{
  text-align: center;
}

/* Packages section */



/* Our Branche*/

.branches{
  background-color: rgb(18, 54, 54);
  color: #fff;
  text-align: center;
}
.branches i{
  font-size: 3rch;
}
.branches .lkv .lkvLoc{
  background-color: #fff;
  border-radius: 10%;
  color: #000;
  font-weight: bold;
  padding: 5px;

}
.branches h6{
  font-size: 3ch;

}
.branches h6 a{
  text-decoration: none;
  color: #000;

}

/* our location section*/
.location{
  text-align: center;
  text-transform: capitalize;
}


/* footer section */
footer img{
  width: 200px;
}
footer{
  background-color: black;
  color: #fff;
  text-transform: capitalize;
  
}
footer h1{
  text-align: center;
}
footer h2{
  padding-bottom:10px !important;
}
footer ul li a{
  text-decoration: none !important;
  color:#fff;
}
footer ul li{
  list-style: none;
  margin: 5px !important;
}





